<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="row justify-content-center "style="padding-top: 1cm;">
		<div class="card bg-light mb-3" style="width: 30cm;">
		<div class="card-header text-uppercase font-weight-bold">
		<%=full_name = "#{@user.first_name} #{@user.last_name}"%>
		</div>
		<div class="card-body">
		    <p>Age : <%=@user.age%> ans</p>
		    <p>Ville : <%=link_to @user.city.name,city_path(id:@user.city.id)%>  </p>
			<p>E-mail : <a href="#"><%=@user.email%></a></p>
			<p>Description : </br><%=@user.description%> </p>
		</div>
		</div>
		</div>
	</div>

</body>
</html>
