<!DOCTYPE html>
<html>
<head>
	<title>Creer un nouveau Gossip</title>
</head>
<body>



    <div class="row justify-content-center">
    	<dir>
	    	<%= form_tag gossips_path(action: 'create'), method: "post" do %>

	      <%= label_tag 'Titre' %>
	      <br />
	      <%= text_field_tag 'title', params[:title] %>
	      <br /> <br />

	      <%= label_tag 'Contenu' %>
	      <br />
	      <%= text_area_tag 'content',params[:content] ,:rows=>7, :cols=>60 %>

	      <br /> <br />

	      <%= submit_tag "Creer Gossip" %>

	    	<% end %>
    	</dir>

    </div>

    <% if @state == false  %>
	    <div class="row justify-content-center "style="padding-top: 1cm;">
			<div class="card card text-white bg-danger mb-3" style="width: 30cm;">
			<div class="card-header text-uppercase font-weight-bold">
			Attention erreur de saisis !
			</div>
			<div class="card-body">
			  <p>Nous n'avons pas réussi à creer le potin pour la (ou les) raison(s) suivante(s) :</p>
			  <ul>
			    <% @gossip.errors.full_messages.each do |message| %>
			      <li><%= message %></li>
			    <% end %>
			  </ul>
			</div>
			</div>
		</div>
	<% end %>

</body>
</html>